:root {
    /* Couleurs background */
    --body-color: rgb(144, 214, 238);
    --container-color: rgb(205, 232, 241);

    /* Couleurs texte */
    --text-color: rgb(54, 51, 51);
    --footer-color: gray;
}

html,
body {
    background-color: var(--body-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

.container {
    background-color: var(--container-color);
    border: 1px dotted var(--footer-color);
    margin: 0 auto;
    width: 96%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    line-height: 1.5;
    margin-top: 5rem;
}

.img {
    margin: 1rem auto 0;
    width: 75%;
    max-width: 300px;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

h2::before{
    content: "🏸 ";
}

footer {
    color: var(--footer-color);
    text-align: center;
}

footer p {
    margin: 1rem 0 0 0;
}

.sectionExplicative{
    text-align: justify;
    margin-bottom: 1em;
    width: 100%;
}

.titre-section{
    border-bottom: solid 2px var(--text-color);
}

nav a{
    text-decoration: none;
    color: var(--text-color);
}


/*          Benjamin            */
/*  v   v   v   v   v   v   v   */

.infoImportante{
    font-weight: 600;
    transition: text-shadow 0.3s;
}

.infoImportante:hover{
    text-shadow: 1px 1px 1px;
}

/*page contact.html*/
.infoImportante{
    font-weight: 600;
    transition: text-shadow 0.3s;
}

.infoImportante:hover{
    text-shadow: 1px 1px 1px;
}

/*page contact.html*/
.pageContact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.voletContact{
    max-width: 25rem;
    text-align: justify;
    flex: 1;
    margin: 1em;
}

label{
    margin-right: 1rem;
}

.formulaireContact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}

.elementFormulaire{
    display: flex;
    justify-content: flex-start;
    max-width: 25rem;
    margin-bottom: 1rem;
}

.saisieTexte{
    flex: 2;
}

#texteDetail{
    width: 100%;
    height: 5rem;
    overflow: auto;
}

#boutonEnvoyer{
    margin: 0 auto;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
}

.contactAlternatif{
    font-size: 1.1rem;
    margin: 0;
}

/*page aPropos.html*/

.pageAPropos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imgAPropos{
    margin: 0 auto;
    width: 70%;
    max-width: 600px;
}

.imgAPropos img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
.imgAPropos{
    margin: 0 auto;
    width: 70%;
    max-width: 600px;
}

.imgAPropos img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

/*  ^   ^   ^   ^   ^   ^   ^   */
/*          Benjamin            */


/*********************************  MODIFICICATIONS PAR VIVIANE *********************************/

#activites{
    height: 70vh;
    overflow-y: scroll;
}

.container-activites{
    margin-bottom: 1rem;
}

.date-heure{
    display: flex;
    padding: 0 1rem;
    margin-bottom: auto;
    border: 1px dashed var(--footer-color);
}

.date{
    font-weight: bold;
}

.titre-activite{
    margin: auto 0 auto 1rem;
} 

/*************************************************************************************************/

@media screen and (min-width: 768px) {
    .container-activites{
        display: flex;
    }

    .date-heure{
        min-width: 200px;
        max-width: 200px;
        word-wrap: normal;
        padding-right: 0;
    }

    .presentation-activite{
        margin-left: 1rem;
    }

    .container-activites{
        margin-bottom: 2rem;
    }

    .container {
        width: 90%;
        padding: 1rem;
    }

    .voletContact{
        margin: 0 2rem;
    }
} 

@media screen and (max-width: 992px){
    #imgContact{
        display: none;
    }
}