:root {
    /* Couleurs background */
    --body-color: rgb(144, 214, 238);
    --container-color: rgb(205, 232, 241);

    /* Couleurs texte */
    --text-color: rgb(54, 51, 51);
    --footer-color: gray;
}

html,
body {
    background-color: var(--body-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

.container {
    background-color: var(--container-color);
    border: 1px dotted var(--footer-color);
    margin: 0 auto;
    width: 96%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    line-height: 1.5;
    margin-top: 5rem;
}

.img {
    margin: 1rem auto 0;
    width: 75%;
    max-width: 300px;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

h1 {
    text-align: center;
}

footer {
    color: var(--footer-color);
    text-align: center;
}

footer p {
    margin: 1rem 0 0 0;
}

/*********************************  MODIFICICATIONS PAR VIVIANE *********************************/

#activites{
    height: 70vh;
    overflow-x: scroll;
}
.titre-activite{
    border-bottom: solid 2px var(--text-color);
}

.date{
    font-weight: bold;
}

#img-badminton-container{
    width: 90%;
    margin: 0 auto;
}

#img-badminton-container img{
    width: 100%;
}

/*************************************************************************************************/